Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx}": ["pnpm lint"],
  "*.json": "prettier --list-different --write"
}

docs(readme): fix `root` README
  README.md
Due: none

chore(release-please): override default `changelog-sections`
  release-please-config.json
Due: prettier --list-different --write

chore(release-please): override default `changelog-sections` (#145)
  release-please-config.json
Due: prettier --list-different --write

ci: fix test workflow
  .github/workflows/test.yml
Due: none

docs: use `typedoc` to generate TS documentation
  .github/workflows/docs.yml
  astro-portabletext/.gitignore
  astro-portabletext/docs/README.md
  astro-portabletext/docs/interfaces/types.Block.md
  astro-portabletext/docs/interfaces/types.Mark.md
  astro-portabletext/docs/interfaces/types.PortableTextComponents.md
  astro-portabletext/docs/interfaces/types.PortableTextProps.md
  astro-portabletext/docs/interfaces/types.Props.md
  astro-portabletext/docs/interfaces/types.TypedObject.md
  astro-portabletext/docs/modules/types.md
  astro-portabletext/docs/modules/utils.md
  astro-portabletext/docs/types.md
  astro-portabletext/docs/utils.md
  astro-portabletext/package.json
  astro-portabletext/typedoc.json
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

docs(readme): fix table of contents
  astro-portabletext/README.md
Due: none

docs(style): fix breadcrumb trail
  astro-portabletext/docs/README.md
  astro-portabletext/docs/extending-components.md
  astro-portabletext/docs/hydration.md
  astro-portabletext/docs/merge-override-components.md
  astro-portabletext/docs/portabletext-component.md
  astro-portabletext/docs/sanity.md
Due: none

docs: fix portabletext-component
  astro-portabletext/docs/portabletext-component.md
Due: none

docs: automate documentation and fixes (#146)
  .github/workflows/docs.yml
  README.md
  astro-portabletext/.gitignore
  astro-portabletext/README.md
  astro-portabletext/docs/README.md
  astro-portabletext/docs/extending-components.md
  astro-portabletext/docs/hydration.md
  astro-portabletext/docs/interfaces/types.Block.md
  astro-portabletext/docs/interfaces/types.Mark.md
  astro-portabletext/docs/interfaces/types.PortableTextComponents.md
  astro-portabletext/docs/interfaces/types.PortableTextProps.md
  astro-portabletext/docs/interfaces/types.Props.md
  astro-portabletext/docs/interfaces/types.TypedObject.md
  astro-portabletext/docs/merge-override-components.md
  astro-portabletext/docs/modules/types.md
  astro-portabletext/docs/modules/utils.md
  astro-portabletext/docs/portabletext-component.md
  astro-portabletext/docs/sanity.md
  astro-portabletext/docs/types.md
  astro-portabletext/docs/utils.md
  astro-portabletext/package.json
  astro-portabletext/typedoc.json
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

ci: add `fix-lockfile` action
  .github/workflows/fix-lockfile.yml
Due: none

ci: add `fix-lockfile` action (#147)
  .github/workflows/fix-lockfile.yml
Due: none

chore: fix lockfile
  pnpm-lock.yaml
Due: none

chore(deps): update `engines`
  package.json
Due: prettier --list-different --write

chore(deps): update `root` dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore: migrate eslint config file for v9.5.0
  .eslintrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

chore(deps): update `engines` and `dependencies` (#148)
  .eslintrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

chore: hoist `astro` dependency
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore: hoist `astro` dependency (#150)
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(demo): update `dependencies`
  demo/.astro/settings.json
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(demo): update `dependencies` (#149)
  demo/.astro/settings.json
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

refactor: drop `demo` package versioning
  .release-please-manifest.json
  release-please-config.json
Due: prettier --list-different --write

refactor: drop `demo` package versioning (#152)
  .release-please-manifest.json
  release-please-config.json
Due: prettier --list-different --write

chore(deps): update `root` dependencies (#153)
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

style(format): [ci] format
  astro-portabletext/components/PortableText.astro
Due: none

fix(deps): update `demo` dependencies
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(deps): update `demo` dependencies (#154)
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

refactor(component): improve `PortableText` lookup logic and add fallback handling
  astro-portabletext/components/PortableText.astro
Due: none

feat: add `text` node type to Portable Text components
  astro-portabletext/README.md
  astro-portabletext/components/PortableText.astro
  astro-portabletext/components/Text.astro
  astro-portabletext/lib/types.ts
  lab/src/components/TextReplace.astro
  lab/src/components/TextStyleBySplit.astro
  lab/src/components/TextStylebyIndex.astro
  lab/src/pages/text/default.astro
  lab/src/pages/text/replace.astro
  lab/src/pages/text/style-by-index.astro
  lab/src/pages/text/style-by-split.astro
  lab/src/pages/text/undefined.astro
  lab/src/test/text.test.js
Due: pnpm lint

docs: update `lib` documentation
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/types.ts
Due: pnpm lint

docs: update documention
  astro-portabletext/docs/README.md
  astro-portabletext/docs/interfaces/types.Block.md
  astro-portabletext/docs/interfaces/types.Mark.md
  astro-portabletext/docs/interfaces/types.PortableTextComponents.md
  astro-portabletext/docs/interfaces/types.PortableTextProps.md
  astro-portabletext/docs/interfaces/types.Props.md
  astro-portabletext/docs/modules/types.md
  astro-portabletext/docs/modules/utils.md
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/interfaces/Block.md
  astro-portabletext/docs/types/interfaces/Mark.md
  astro-portabletext/docs/types/interfaces/PortableTextComponents.md
  astro-portabletext/docs/types/interfaces/PortableTextProps.md
  astro-portabletext/docs/types/interfaces/Props.md
  astro-portabletext/docs/types/interfaces/TypedObject.md
  astro-portabletext/docs/types/type-aliases/List.md
  astro-portabletext/docs/types/type-aliases/ListItem.md
  astro-portabletext/docs/types/type-aliases/MissingComponentHandler.md
  astro-portabletext/docs/types/type-aliases/SomePortableTextComponents.md
  astro-portabletext/docs/types/type-aliases/TextNode.md
  astro-portabletext/docs/utils/README.md
  astro-portabletext/docs/utils/functions/mergeComponents.md
  astro-portabletext/docs/utils/functions/toPlainText.md
  astro-portabletext/docs/utils/functions/usePortableText.md
  astro-portabletext/package.json
  astro-portabletext/typedoc.json
Due: prettier --list-different --write

fix(deps): bump @portabletext/toolkit to v2.0.16
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(deps): bump @portabletext/toolkit to v2.0.16 (#159)
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(release): update release-please action and config
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --list-different --write

chore(release): update release-please action and config (#161)
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --list-different --write

chore(release): correct last-release-sha in release-please config
  release-please-config.json
Due: prettier --list-different --write

chore(release): correct last-release-sha in release-please config (#162)
  release-please-config.json
Due: prettier --list-different --write

chore(release): update last-release-sha to reflect manual release
  release-please-config.json
Due: prettier --list-different --write

chore(release): update last-release-sha to reflect manual release (#163)
  release-please-config.json
Due: prettier --list-different --write

chore(tooling): update TypeDoc scripts and config
  astro-portabletext/docs/README.md
  astro-portabletext/docs/interfaces/types.Mark.md
  astro-portabletext/docs/interfaces/types.PortableTextComponents.md
  astro-portabletext/docs/interfaces/types.PortableTextProps.md
  astro-portabletext/docs/interfaces/types.Props.md
  astro-portabletext/docs/modules/types.md
  astro-portabletext/docs/modules/utils.md
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/interfaces/Block.md
  astro-portabletext/docs/types/interfaces/Mark.md
  astro-portabletext/docs/types/interfaces/PortableTextComponents.md
  astro-portabletext/docs/types/interfaces/PortableTextProps.md
  astro-portabletext/docs/types/interfaces/Props.md
  astro-portabletext/docs/types/interfaces/TypedObject.md
  astro-portabletext/docs/types/type-aliases/List.md
  astro-portabletext/docs/types/type-aliases/ListItem.md
  astro-portabletext/docs/types/type-aliases/MissingComponentHandler.md
  astro-portabletext/docs/types/type-aliases/SomePortableTextComponents.md
  astro-portabletext/docs/types/type-aliases/TextNode.md
  astro-portabletext/docs/utils/README.md
  astro-portabletext/docs/utils/functions/mergeComponents.md
  astro-portabletext/docs/utils/functions/toPlainText.md
  astro-portabletext/docs/utils/functions/usePortableText.md
  astro-portabletext/package.json
  astro-portabletext/typedoc.json
Due: prettier --list-different --write
