Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx}": ["pnpm lint"],
  "*.json": "prettier --list-different --write"
}

chore(deps): update dependencies (#87)
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

ci(workflow/test): drop Node v16
  .github/workflows/test.yml
Due: none

ci(workflow/test): drop Node v16 (#88)
  .github/workflows/test.yml
Due: none

chore(deps): add @astrojs/check
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(deps): add @astrojs/check (#89)
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

refactor(tsconfig): use `astro/tsconfigs/strict`
  astro-portabletext/tsconfig.json
Due: prettier --list-different --write

ci(workflow/test): run on all pull_requests
  .github/workflows/test.yml
Due: none

ci(workflow/test): run on all pull_requests (#91)
  .github/workflows/test.yml
Due: none

refactor(tsconfig): use `astro/tsconfigs/strict` (#90)
  astro-portabletext/tsconfig.json
Due: prettier --list-different --write

fix(demo): update dependencies
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(demo): fix components
  demo/src/components/ListItemStyleStar.astro
  demo/src/components/ListStyleStar.astro
  demo/src/components/counter/Counter.svelte
  demo/src/components/counter/Counter.tsx
  demo/src/components/counter/JsxCounter.astro
  demo/src/components/counter/SvelteCounter.astro
  demo/src/components/portabletext/Block.astro
  demo/src/components/portabletext/List.astro
  demo/src/components/portabletext/ListItem.astro
  demo/src/components/portabletext/Mark.astro
  demo/src/components/portabletext/Type.astro
Due: pnpm lint

fix(demo): update `demo` package (#93)
  demo/package.json
  demo/src/components/ListItemStyleStar.astro
  demo/src/components/ListStyleStar.astro
  demo/src/components/counter/Counter.svelte
  demo/src/components/counter/Counter.tsx
  demo/src/components/counter/JsxCounter.astro
  demo/src/components/counter/SvelteCounter.astro
  demo/src/components/portabletext/Block.astro
  demo/src/components/portabletext/List.astro
  demo/src/components/portabletext/ListItem.astro
  demo/src/components/portabletext/Mark.astro
  demo/src/components/portabletext/Type.astro
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

fix(demo): fix import declaration
  demo/src/components/portabletext/PortableText.astro
Due: none

fix(demo): fix import declaration (#95)
  demo/src/components/portabletext/PortableText.astro
Due: none

fix(demo): fix PortableText is not defined
  demo/src/components/portabletext/PortableText.astro
Due: none

fix(demo): fix PortableText is not defined (#96)
  demo/src/components/portabletext/PortableText.astro
Due: none

fix(demo): add `is:global` directive to style
  demo/src/pages/index.astro
Due: none

fix(demo): add `is:global` directive to style (#97)
  demo/src/pages/index.astro
Due: none

chore(root): update dependencies
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(root): update dependencies (#98)
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

ci(npm): add provenance flag
  .github/workflows/npm.yml
Due: none

ci(npm): add provenance flag (#99)
  .github/workflows/npm.yml
Due: none

fix(astro-portabletext): update dependencies
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(astro-portabletext): fix #92
  astro-portabletext/lib/types.ts
Due: pnpm lint

fix(astro-portabletext): update dependencies and fix #92 (#100)
  astro-portabletext/lib/types.ts
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore(demo): add `codesandbox` config
  demo/.codesandbox/Dockerfile
Due: none

chore(demo): add `codesandbox` config (#101)
  demo/.codesandbox/Dockerfile
Due: none

ci(format): add token
  .github/workflows/format.yml
Due: none

ci(format): add token (#102)
  .github/workflows/format.yml
Due: none

style(format): [ci] format
  astro-portabletext/lib/internal.ts
Due: pnpm lint

fix(astro-portabletext): fix #92 (#103)
  astro-portabletext/lib/types.ts
Due: pnpm lint

fix(demo): update dependencies (#105)
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(root): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(root): update dependencies (#106)
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

docs(astro-portabletext): update docs
  astro-portabletext/docs/extending-components.md
  astro-portabletext/docs/hydration.md
  astro-portabletext/docs/sanity.md
  astro-portabletext/docs/types.md
Due: none

docs(astro-portabletext): update docs (#107)
  astro-portabletext/docs/extending-components.md
  astro-portabletext/docs/hydration.md
  astro-portabletext/docs/sanity.md
  astro-portabletext/docs/types.md
Due: none
