Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx}": ["pnpm lint"],
  "*.json": "prettier --list-different --write"
}

chore(tooling): update TypeDoc scripts and config (#164)
  astro-portabletext/docs/README.md
  astro-portabletext/docs/interfaces/types.Mark.md
  astro-portabletext/docs/interfaces/types.PortableTextComponents.md
  astro-portabletext/docs/interfaces/types.PortableTextProps.md
  astro-portabletext/docs/interfaces/types.Props.md
  astro-portabletext/docs/modules/types.md
  astro-portabletext/docs/modules/utils.md
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/interfaces/Block.md
  astro-portabletext/docs/types/interfaces/Mark.md
  astro-portabletext/docs/types/interfaces/PortableTextComponents.md
  astro-portabletext/docs/types/interfaces/PortableTextProps.md
  astro-portabletext/docs/types/interfaces/Props.md
  astro-portabletext/docs/types/interfaces/TypedObject.md
  astro-portabletext/docs/types/type-aliases/List.md
  astro-portabletext/docs/types/type-aliases/ListItem.md
  astro-portabletext/docs/types/type-aliases/MissingComponentHandler.md
  astro-portabletext/docs/types/type-aliases/SomePortableTextComponents.md
  astro-portabletext/docs/types/type-aliases/TextNode.md
  astro-portabletext/docs/utils/README.md
  astro-portabletext/docs/utils/functions/mergeComponents.md
  astro-portabletext/docs/utils/functions/toPlainText.md
  astro-portabletext/docs/utils/functions/usePortableText.md
  astro-portabletext/package.json
  astro-portabletext/typedoc.json
Due: prettier --list-different --write

refactor(component): improve PortableText rendering logic
  astro-portabletext/components/PortableText.astro
Due: none

feat(component): enable custom text rendering in Portable Text
  astro-portabletext/README.md
  astro-portabletext/components/PortableText.astro
  astro-portabletext/components/Text.astro
  astro-portabletext/lib/types.ts
  lab/src/components/TextReplace.astro
  lab/src/components/TextStyleBySplit.astro
  lab/src/components/TextStylebyIndex.astro
  lab/src/pages/text/default.astro
  lab/src/pages/text/replace.astro
  lab/src/pages/text/style-by-index.astro
  lab/src/pages/text/style-by-split.astro
  lab/src/pages/text/undefined.astro
  lab/src/test/text.test.js
Due: pnpm lint

fix(component): improve component rendering
  astro-portabletext/components/PortableText.astro
Due: none

feat(component): enable custom text rendering in PortableText (#165)
  astro-portabletext/README.md
  astro-portabletext/components/PortableText.astro
  astro-portabletext/components/Text.astro
  astro-portabletext/lib/types.ts
  lab/src/components/TextReplace.astro
  lab/src/components/TextStyleBySplit.astro
  lab/src/components/TextStylebyIndex.astro
  lab/src/pages/text/default.astro
  lab/src/pages/text/replace.astro
  lab/src/pages/text/style-by-index.astro
  lab/src/pages/text/style-by-split.astro
  lab/src/pages/text/undefined.astro
  lab/src/test/text.test.js
Due: pnpm lint

docs: [ci] generate
  astro-portabletext/docs/types/interfaces/PortableTextComponents.md
Due: none

style(format): [ci] format
  lab/src/components/TextReplace.astro
  lab/src/components/TextStyleBySplit.astro
  lab/src/components/TextStylebyIndex.astro
  lab/src/pages/text/replace.astro
  lab/src/pages/text/undefined.astro
Due: none

feat(api): enhance customisation with `slots` and a `render` function
  astro-portabletext/components/PortableText.astro
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/type-aliases/RenderHandler.md
  astro-portabletext/docs/types/type-aliases/RenderHandlerProps.md
  astro-portabletext/docs/types/type-aliases/RenderOptions.md
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/types.ts
  lab/src/components/BlockWithBanner.astro
  lab/src/components/BlockWithRender.astro
  lab/src/components/HelloWorld.astro
  lab/src/components/ListWithRender.astro
  lab/src/components/MarkWithRender.astro
  lab/src/pages/list/styled.astro
  lab/src/pages/render/block.astro
  lab/src/pages/render/list.astro
  lab/src/pages/render/mark.astro
  lab/src/pages/slot/block.astro
  lab/src/pages/slot/list.astro
  lab/src/pages/slot/listitem.astro
  lab/src/pages/slot/mark.astro
  lab/src/pages/slot/type.astro
  lab/src/test/list.test.js
  lab/src/test/render.test.js
  lab/src/test/slot.test.js
Due: pnpm lint

perf(component): cache Portable Text nodes
  astro-portabletext/components/PortableText.astro
Due: none

chore(deps): add peer dependency for Astro >=4.6.0 due to slot compatibility issues
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

docs(readme): polish README
  astro-portabletext/README.md
Due: none

test: fix missing slot in components
  lab/src/components/ListWithRender.astro
  lab/src/components/MyBlock.astro
Due: none

test: improve slot tests with custom components
  lab/src/components/ListItem.astro
  lab/src/components/Mark.astro
  lab/src/components/MarkWithRender.astro
  lab/src/pages/slot/block-custom.astro
  lab/src/pages/slot/list-custom.astro
  lab/src/pages/slot/listitem-custom.astro
  lab/src/pages/slot/mark-custom.astro
  lab/src/test/slot.test.js
Due: pnpm lint

feat(api): enhance customisation with `slots` and `render` function (#167)
  astro-portabletext/README.md
  astro-portabletext/components/PortableText.astro
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/type-aliases/RenderHandler.md
  astro-portabletext/docs/types/type-aliases/RenderHandlerProps.md
  astro-portabletext/docs/types/type-aliases/RenderOptions.md
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/types.ts
  astro-portabletext/package.json
  lab/src/components/BlockWithBanner.astro
  lab/src/components/BlockWithRender.astro
  lab/src/components/HelloWorld.astro
  lab/src/components/ListItem.astro
  lab/src/components/ListWithRender.astro
  lab/src/components/Mark.astro
  lab/src/components/MarkWithRender.astro
  lab/src/components/MyBlock.astro
  lab/src/pages/list/styled.astro
  lab/src/pages/render/block.astro
  lab/src/pages/render/list.astro
  lab/src/pages/render/mark.astro
  lab/src/pages/slot/block-custom.astro
  lab/src/pages/slot/block.astro
  lab/src/pages/slot/list-custom.astro
  lab/src/pages/slot/list.astro
  lab/src/pages/slot/listitem-custom.astro
  lab/src/pages/slot/listitem.astro
  lab/src/pages/slot/mark-custom.astro
  lab/src/pages/slot/mark.astro
  lab/src/pages/slot/type.astro
  lab/src/test/list.test.js
  lab/src/test/render.test.js
  lab/src/test/slot.test.js
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

docs: [ci] generate
  astro-portabletext/docs/types/type-aliases/RenderOptions.md
Due: none

chore(deps): upgrade Astro from v4 to v5.0.2 and update other dependencies
  demo/package.json
  demo/src/components/counter/Counter.svelte
  pnpm-lock.yaml
Due: prettier --list-different --write

chore: update `.gitignore` and `.prettierignore` for .astro and demo cleanup
  .gitignore
  .prettierignore
  demo/.astro/settings.json
Due: prettier --list-different --write

chore(demo): update Node engine compatibility
  demo/package.json
Due: prettier --list-different --write

chore(demo): upgrade Astro from v4 to v5.0.2 (#168)
  .gitignore
  .prettierignore
  demo/.astro/settings.json
  demo/package.json
  demo/src/components/counter/Counter.svelte
  pnpm-lock.yaml
Due: prettier --list-different --write

refactor(lib): rename `useContext` to `usePortableText`
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/utils.ts
Due: pnpm lint

refactor(lib): consolidate types in types.ts
  astro-portabletext/components/PortableText.astro
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/internal.ts
  astro-portabletext/lib/types.ts
  astro-portabletext/lib/warnings.ts
Due: pnpm lint

test: update import path for `mergeComponents`
  lab/src/lib/utils.test.ts
Due: pnpm lint

feat(lib): consolidate exports in index.ts
  astro-portabletext/lib/index.ts
  astro-portabletext/lib/utils.d.ts
  astro-portabletext/package.json
  lab/src/components/BlockIndex.astro
  lab/src/components/BlockWithBanner.astro
  lab/src/components/BlockWithRender.astro
  lab/src/components/ListItem.astro
  lab/src/components/ListWithRender.astro
  lab/src/components/Mark.astro
  lab/src/components/MarkWithRender.astro
  lab/src/components/MyBlock.astro
Due: pnpm lint, prettier --list-different --write

docs: [ci] generate
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/interfaces/Block.md
  astro-portabletext/docs/types/interfaces/Context.md
  astro-portabletext/docs/types/interfaces/Mark.md
  astro-portabletext/docs/types/interfaces/PortableTextComponents.md
  astro-portabletext/docs/types/interfaces/PortableTextProps.md
  astro-portabletext/docs/types/interfaces/Props.md
  astro-portabletext/docs/types/interfaces/TypedObject.md
  astro-portabletext/docs/types/type-aliases/Component.md
  astro-portabletext/docs/types/type-aliases/ComponentOrRecord.md
  astro-portabletext/docs/types/type-aliases/List.md
  astro-portabletext/docs/types/type-aliases/ListItem.md
  astro-portabletext/docs/types/type-aliases/MissingComponentHandler.md
  astro-portabletext/docs/types/type-aliases/NodeType.md
  astro-portabletext/docs/types/type-aliases/RenderHandler.md
  astro-portabletext/docs/types/type-aliases/RenderHandlerProps.md
  astro-portabletext/docs/types/type-aliases/RenderOptions.md
  astro-portabletext/docs/types/type-aliases/SomePortableTextComponents.md
  astro-portabletext/docs/types/type-aliases/TextNode.md
  astro-portabletext/docs/utils/README.md
  astro-portabletext/docs/utils/functions/mergeComponents.md
  astro-portabletext/docs/utils/functions/toPlainText.md
  astro-portabletext/docs/utils/functions/usePortableText.md
Due: none

ci: add Node v22 to test workflow
  .github/workflows/test.yml
Due: none

ci: add Node v22 to test workflow (#170)
  .github/workflows/test.yml
Due: none

feat(api): simplify component prop imports with type aliases
  astro-portabletext/lib/types.ts
Due: pnpm lint

docs: [ci] generate
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/type-aliases/BlockProps.md
  astro-portabletext/docs/types/type-aliases/ListItemProps.md
  astro-portabletext/docs/types/type-aliases/ListProps.md
  astro-portabletext/docs/types/type-aliases/MarkProps.md
  astro-portabletext/docs/types/type-aliases/TextNodeProps.md
Due: none

feat(api): simplify component prop imports with type aliases (#171)
  astro-portabletext/docs/types/README.md
  astro-portabletext/docs/types/type-aliases/BlockProps.md
  astro-portabletext/docs/types/type-aliases/ListItemProps.md
  astro-portabletext/docs/types/type-aliases/ListProps.md
  astro-portabletext/docs/types/type-aliases/MarkProps.md
  astro-portabletext/docs/types/type-aliases/TextNodeProps.md
  astro-portabletext/lib/types.ts
Due: pnpm lint

chore(release): hide documentation changes
  release-please-config.json
Due: prettier --list-different --write

chore(release): hide documentation changes (#172)
  release-please-config.json
Due: prettier --list-different --write

Fix typo that breaks custom components
  astro-portabletext/components/PortableText.astro
Due: none

Update documentation links
  README.md
Due: none

docs(root): update documentation links in readme (#174)
  README.md
Due: none

docs(typedoc): update configuration for improved documentation output
  astro-portabletext/typedoc.json
Due: prettier --list-different --write

docs(ci): improve commit message for generated documentation
  .github/workflows/docs.yml
Due: none

docs(examples): add examples for customizing Portable Text components
  examples/Block.astro
  examples/BlockWithRenderFunction.astro
  examples/List.astro
  examples/ListItem.astro
  examples/Mark.astro
  examples/README.md
  examples/Text.astro
  examples/Type.astro
  examples/portabletext-basic.astro
  examples/portabletext-mapped-type-property.astro
  examples/portabletext-mapped-type.astro
  examples/portabletext-slots.astro
Due: none

docs(root): enhance README with badges, features, and demonstration links
  README.md
Due: none
