Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

docs: update (#49)
  README.md
  astro-portabletext/README.md
  astro-portabletext/docs/README.md
  astro-portabletext/docs/sanity.md
Due: none

docs(readme): fix link
  README.md
Due: none

docs(astro-portabletext/docs/sanity): fix example
  astro-portabletext/docs/sanity.md
Due: none

docs(astro-portabletext/docs/sanity): fix example (#50)
  astro-portabletext/docs/sanity.md
Due: none

docs(astro-portabletext/docs): extending-components.md
  astro-portabletext/docs/extending-components.md
Due: none

chore(vscode): add `extensions.json`
  .vscode/extensions.json
Due: prettier --list-different --write

chore(vscode): add `settings.json`
  .vscode/settings.json
Due: prettier --list-different --write

chore(logo): background colour
  logo.svg
Due: none

chore(logo): rounded corners
  logo.svg
Due: none

docs(astro-portabletext/docs): extending-components.md (#51)
  astro-portabletext/docs/extending-components.md
Due: none

chore: vscode (#52)
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --list-different --write

chore: logo (#53)
  logo.svg
Due: none

docs(astro-portabletext/docs/sanity): fix typo
  astro-portabletext/docs/sanity.md
Due: none

docs(astro-portabletext/docs): sanity (#54)
  astro-portabletext/docs/sanity.md
Due: none

chore(release-please): config
  release-please-config.json
Due: prettier --list-different --write

ci(workflow/test): fix trigger event
  .github/workflows/test.yml
Due: none

ci(workflow/npm): fix `Install Dependencies` step
  .github/workflows/npm.yml
Due: none

chore(release-please): config (#55)
  release-please-config.json
Due: prettier --list-different --write

ci(workflow/test): fix trigger event (#56)
  .github/workflows/test.yml
Due: none

ci(workflow/npm): fix `Install Dependencies` step (#57)
  .github/workflows/npm.yml
Due: none

ci(workflow/release): change step name
  .github/workflows/release.yml
Due: none

ci(workflow/release): add publish validation step
  .github/workflows/release.yml
Due: none

ci(workflow): release (#58)
  .github/workflows/release.yml
Due: none

docs(astro-portabletext/docs): hydration.md
  astro-portabletext/docs/hydration.md
Due: none

docs(astro-portabletext/docs): hydration.md (#59)
  astro-portabletext/docs/hydration.md
Due: none

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

fix(lib/types): interface `Mark`
  astro-portabletext/lib/types.ts
Due: pnpm lint

ci(workflow/test): add `linting` step
  .github/workflows/test.yml
Due: none

fix(lib/types): interface `Mark` (#62)
  astro-portabletext/lib/types.ts
Due: pnpm lint

chore(deps): update `devDependencies`
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(deps): update `astro` to latest
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

ci(workflow/test): add `linting` step (#65)
  .github/workflows/test.yml
Due: none

chore(deps): bump `pnpm` to latest
  package.json
Due: prettier --list-different --write

chore(deps): update `devDependencies` (#66)
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(deps): update `astro-portabletext` dependencies
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(deps): update `astro-portabletext` dependencies (#67)
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(license): update date range
  LICENSE
Due: none

chore(license): update date range (#68)
  LICENSE
Due: none

Path conditions:
  pnpm lint: any of: *.{js,jsx,mjs,ts,tsx}
  prettier --list-different --write: any of: *.json
