Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

chore(demo): align environment and tooling (#218)
  demo/.codesandbox/Dockerfile
  demo/.devcontainer/devcontainer.json
  demo/README.md
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(component): use singleton cache for node components
  astro-portabletext/components/PortableText.astro
  astro-portabletext/lib/internal.ts
Due: pnpm lint

feat(deps): update dependencies
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(component): use singleton cache for node components (#220)
  astro-portabletext/components/PortableText.astro
  astro-portabletext/lib/internal.ts
Due: pnpm lint

feat(deps): update dependencies (#221)
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

Fix published utils export
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/internal.ts
  astro-portabletext/lib/utils.ts
  astro-portabletext/package.json
  astro-portabletext/tsconfig.build.json
Due: pnpm lint, prettier --list-different --write

fix: Added missing package.json fields: license
  package.json
Due: prettier --list-different --write

chore: update PNPM to v11.21.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --list-different --write

chore(deps): update root dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore: add license to root package.json
  package.json
Due: prettier --list-different --write

chore: align Node version with dependencies
  package.json
Due: prettier --list-different --write

chore: align typescript version with Astro
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

ci: update workflows to use Node v26
  .github/workflows/docs.yml
  .github/workflows/fix-lockfile.yml
  .github/workflows/format.yml
  .github/workflows/npm.yml
Due: none

ci: update Node versions in test workflow
  .github/workflows/test.yml
Due: none

chore: add astro to root and remove public hoist
  .npmrc
  package.json
Due: prettier --list-different --write

chore(lab): disable noImplicitAny in tsconfig
  lab/tsconfig.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(deps): bump cheerio in lab
  lab/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore: remove deprecated husky boilerplate
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
Due: none

chore: optimize lint-staged configuration
  .lintstagedrc
Due: none

chore(deps): sync pnpm lockfile
  pnpm-lock.yaml
Due: none

chore(deps): remove legacy changesets dependency
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore: remove obsolete .huskyrc
  .huskyrc
Due: none

ci: rename fix-lockfile workflow to release-please
  .github/workflows/release-please.yml
Due: none

ci: bump workflow actions
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/npm.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: align devcontainer with toolchain
  .devcontainer/devcontainer.json
Due: prettier --list-different --write

chore: fix deprecated typescript workspace setting
  .devcontainer/devcontainer.json
Due: prettier --list-different --write

chore: add svelte extension to vscode and devcontainer
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier --list-different --write

chore(vscode): align workspace settings with devcontainer
  .vscode/settings.json
Due: prettier --list-different --write

chore: expand and standardize ignore files
  .gitignore
  .prettierignore
Due: none

chore(deps): remove unused eslint-plugin-prettier
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(deps): apply latest patch updates
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore: drop npx from lint script
  package.json
Due: prettier --list-different --write

chore: update root infrastructure and development tooling (#225)
  .devcontainer/devcontainer.json
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/npm.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .npmrc
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  lab/package.json
  lab/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --list-different --write

style(format): [ci] format
  astro-portabletext/lib/internal.ts
  astro-portabletext/lib/types.ts
  examples/portabletext-basic.astro
  examples/portabletext-mapped-type-property.astro
  examples/portabletext-mapped-type.astro
  examples/portabletext-slots.astro
Due: pnpm lint

test: migrate lab suite from uvu to vitest
  lab/package.json
  lab/scripts/ci.sh
  lab/src/lib/internal.test.ts
  lab/src/lib/utils.test.ts
  lab/src/lib/warnings.test.ts
  lab/src/test/block.test.js
  lab/src/test/extras.test.js
  lab/src/test/issue.test.js
  lab/src/test/list.test.js
  lab/src/test/mark.test.js
  lab/src/test/render.test.js
  lab/src/test/slot.test.js
  lab/src/test/text.test.js
  lab/src/test/type.test.js
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

test: implement vite aliasing and migrate to typescript
  lab/src/lib/internal.test.ts
  lab/src/lib/utils.test.ts
  lab/src/lib/warnings.test.ts
  lab/src/test/block.test.ts
  lab/src/test/extras.test.ts
  lab/src/test/issue.test.ts
  lab/src/test/list.test.ts
  lab/src/test/mark.test.ts
  lab/src/test/render.test.ts
  lab/src/test/slot.test.ts
  lab/src/test/text.test.ts
  lab/src/test/type.test.ts
  lab/src/utils.ts
  lab/tsconfig.json
  lab/vitest.config.ts
Due: pnpm lint, prettier --list-different --write

docs(lab): improve README
  lab/README.md
Due: none

test: rename lib test directory to unit
  lab/package.json
  lab/tests/unit/internal.test.ts
  lab/tests/unit/utils.test.ts
  lab/tests/unit/warnings.test.ts
Due: pnpm lint, prettier --list-different --write

test: move test files into tests directory and update imports
  lab/package.json
  lab/tests/integration/block.test.ts
  lab/tests/integration/extras.test.ts
  lab/tests/integration/issue.test.ts
  lab/tests/integration/list.test.ts
  lab/tests/integration/mark.test.ts
  lab/tests/integration/render.test.ts
  lab/tests/integration/slot.test.ts
  lab/tests/integration/text.test.ts
  lab/tests/integration/type.test.ts
  lab/tests/lib/internal.test.ts
  lab/tests/lib/utils.test.ts
  lab/tests/lib/warnings.test.ts
  lab/tests/utils.ts
Due: pnpm lint, prettier --list-different --write

Path conditions:
  pnpm lint: any of: *.{js,jsx,mjs,ts,tsx}
  prettier --list-different --write: any of: *.json
