Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint

.lintstagedrc:

{
  "**/*.{mjs,js,jsx,ts,tsx}": [
    "pnpm format",
    "pnpm lint"
  ],
  "**/*.astro": [
    "pnpm format"
  ]
}

build: add post-merge hook
  .husky/post-merge
Due: none

build: add ignore pattern .d.ts
  .eslintrc
Due: none

build: add prepare sccript
  package.json
Due: none

build: add `mjs` extension to `scripts.format`
  package.json
Due: none

test: add unknown block style
  component/test/components/block.test.js
  component/test/components/fixture/src/pages/block/unknown.astro
Due: pnpm format, pnpm lint

test: add unknown list
  component/test/components/fixture/src/pages/list/unknown.astro
  component/test/components/list.test.js
Due: pnpm format, pnpm lint

test: add unknown mark
  component/test/components/fixture/src/pages/mark/unknown.astro
  component/test/components/mark.test.js
Due: pnpm format, pnpm lint

style: formatted
  demo/astro.config.mjs
Due: pnpm format, pnpm lint

fix: `components.type` to be an empty object
  component/lib/PortableText.astro
Due: pnpm format

chore: update dependencies
  component/package.json
  demo/package.json
  package.json
  pnpm-lock.yaml
Due: none

build: add --silent flag
  component/package.json
Due: none

Revert "feat: add `onMissingComponent` prop"
  .changeset/pretty-chairs-remain.md
  component/lib/PortableText.astro
  component/lib/types.ts
Due: pnpm format, pnpm lint

feat: add `onMissingComponent` prop
  component/lib/PortableText.astro
  component/lib/types.ts
  component/package.json
  pnpm-lock.yaml
Due: pnpm format, pnpm lint

style: formatted
  component/lib/NodeRenderer.astro
  component/lib/components/ListItem.astro
  component/lib/components/UnknownBlockStyle.astro
  component/lib/components/UnknownList.astro
  component/lib/components/UnknownListItem.astro
  component/lib/components/UnknownMark.astro
  component/test/components/fixture/src/layouts/Default.astro
  demo/src/layouts/Default.astro
Due: pnpm format

build: update lint-staged
  .lintstagedrc
Due: none

chore: add missing changeset file
  .changeset/ten-ears-brake.md
Due: none

test: add link-missing-href
  component/test/components/fixture/src/pages/mark/link-missing-href.astro
  component/test/components/mark.test.js
Due: pnpm format, pnpm lint

chore: update `pnpm` version
  package.json
Due: none

test: add test script
  package.json
Due: none

build: add `test` workflow
  .github/workflows/test.yml
Due: none

chore: enter prerelease mode and version packages
  .changeset/pre.json
  component/CHANGELOG.md
  component/package.json
Due: none

chore: add `.github`
  .eslintrc
  .prettierignore
Due: none

ci: amend workflow
  .github/workflows/test.yml
Due: none

chore: update dependencies
  demo/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs: updated text
  README.md
  component/README.md
Due: none

ci: add branches to pull_request
  .github/workflows/test.yml
Due: none

ci: add `test:ci` script
  .github/workflows/test.yml
  component/package.json
  package.json
Due: none

ci: update `pnpm/action-setup` version
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

build: add `ESNext` to `compilerOptions.lib`
  component/tsconfig.json
Due: none

test: add block override
  component/test/components/block.test.js
  component/test/components/fixture/src/components/MyH1.astro
  component/test/components/fixture/src/pages/block/override.astro
Due: pnpm format, pnpm lint

test: add block merge
  component/test/components/block.test.js
  component/test/components/fixture/src/components/Grid.astro
  component/test/components/fixture/src/pages/block/merge.astro
Due: pnpm format, pnpm lint

chore: replace `npx` with `pnpm exec`
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
Due: none

chore: update .prettierignore
  .prettierignore
Due: none

chore: amend lint-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

chore: renamed file
  .github/workflows/ci.yml
Due: none

chore: exit prerelease and version packages
  .changeset/big-shirts-act.md
  .changeset/grumpy-tips-joke.md
  .changeset/kind-hornets-thank.md
  .changeset/mean-mayflies-pay.md
  .changeset/pre.json
  .changeset/ten-ears-brake.md
  .changeset/thirty-islands-repeat.md
  component/CHANGELOG.md
  component/package.json
Due: none

revert: "chore: exit prerelease and version packages"
  .changeset/big-shirts-act.md
  .changeset/grumpy-tips-joke.md
  .changeset/kind-hornets-thank.md
  .changeset/mean-mayflies-pay.md
  .changeset/pre.json
  .changeset/ten-ears-brake.md
  .changeset/thirty-islands-repeat.md
  component/CHANGELOG.md
  component/package.json
Due: none
