Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx}": ["pnpm lint"],
  "*.json": "prettier --list-different --write"
}

docs(user-guide): rewrite README for improved clarity and user experience
  astro-portabletext/docs/README.md
Due: none

docs(library): rewrite README for improved clarity and user experience
  astro-portabletext/README.md
Due: none

docs(user-guide): update README, add docs for component and utility functions
  docs/README.md
  docs/getting-started.md
  docs/portabletext-component.md
  docs/utility-functions.md
Due: none

docs(types): update TSDoc comments
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/internal.ts
  astro-portabletext/lib/types.ts
  docs/types/interfaces/Context.md
  docs/types/interfaces/PortableTextComponents.md
  docs/types/type-aliases/BlockProps.md
  docs/types/type-aliases/ListItemProps.md
  docs/types/type-aliases/ListProps.md
  docs/types/type-aliases/MarkProps.md
  docs/types/type-aliases/TextNodeProps.md
Due: pnpm lint

test(deps): update cheerio to v1.0.0
  lab/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

test(issue): add test for #175 - verify no duplicate list items
  lab/src/components/issues/BlockStandFirst.astro
  lab/src/pages/issues/issue-175.astro
  lab/src/test/issue.test.js
Due: pnpm lint

test: verify #175 (duplicate list items) is resolved by recent changes (#177)
  lab/package.json
  lab/src/components/issues/BlockStandFirst.astro
  lab/src/pages/issues/issue-175.astro
  lab/src/test/issue.test.js
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

docs(library): fix broken links in readme
  astro-portabletext/README.md
Due: none

docs(library): fix broken links in readme (#179)
  astro-portabletext/README.md
Due: none

feat(api): add `spanToPlainText` function (docs updated)
  astro-portabletext/lib/utils.ts
  docs/utility-functions.md
Due: pnpm lint

chore(deprecate): deprecate `spanToPlainText` from astro-portabletext/utils
  astro-portabletext/lib/utils.d.ts
Due: pnpm lint

feat(api): add `spanToPlainText` function (docs updated) (#180)
  astro-portabletext/lib/utils.d.ts
  astro-portabletext/lib/utils.ts
  docs/utility-functions.md
Due: pnpm lint

chore: remove `group-pull-request-title-pattern` from release config
  release-please-config.json
Due: prettier --list-different --write

chore: remove `group-pull-request-title-pattern` from release config (#181)
  release-please-config.json
Due: prettier --list-different --write

docs(root): update latest stable version in README to v0.11.0
  README.md
Due: none

docs(root): update latest stable version in README to v0.11.0 (#183)
  README.md
Due: none

build(npm): include CHANGELOG.md in published package
  astro-portabletext/package.json
Due: prettier --list-different --write

docs(library): remove duplicate entries from CHANGELOG.md
  astro-portabletext/CHANGELOG.md
Due: none

build(npm): include CHANGELOG and clean up duplicates (#185)
  astro-portabletext/CHANGELOG.md
  astro-portabletext/package.json
Due: prettier --list-different --write

feat(demo-deps): upgrade all dependencies, including Astro@5.1.1 and astro-portabletext@0.11.0
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

docs(demo): update README with advanced customization guide
  demo/README.md
Due: none

refactor(demo): export components instead of extending PortableText
  demo/src/components/portabletext/PortableText.astro
  demo/src/components/portabletext/index.ts
  demo/src/pages/index.astro
Due: pnpm lint

feat(demo): implement slot-based customization
  demo/src/pages/index.astro
Due: none

chore(demo): use Node.js 22 with Codesandbox, update to TypeScript devcontainer
  demo/.codesandbox/Dockerfile
  demo/.devcontainer/devcontainer.json
Due: prettier --list-different --write

feat(demo): update Astro & astro-portabletext, add slot customization (#186)
  demo/.codesandbox/Dockerfile
  demo/.devcontainer/devcontainer.json
  demo/README.md
  demo/package.json
  demo/src/components/portabletext/PortableText.astro
  demo/src/components/portabletext/index.ts
  demo/src/pages/index.astro
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

chore(release): update last release SHA in release-please config
  release-please-config.json
Due: prettier --list-different --write

chore(release): update last release SHA in release-please config (#188)
  release-please-config.json
Due: prettier --list-different --write

chore(release): update astro-portabletext version to 0.11.0 in release manifest
  .release-please-manifest.json
Due: prettier --list-different --write

chore(release): update astro-portabletext version to 0.11.0 in release manifest (#189)
  .release-please-manifest.json
Due: prettier --list-different --write

Update Text component example to use TextNodeProps
  examples/Text.astro
Due: none

docs(examples): fix import type in `Text.astro` example (#191)
  examples/Text.astro
Due: none

Fix file links in readme
  examples/README.md
Due: none

docs(examples): fix broken file links in README (#192)
  examples/README.md
Due: none

chore(demo): update Astro to v5.2.5 and other dependencies
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(demo): update Astro to v5.2.5 and other dependencies (#193)
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(root): update dependencies, including several major version upgrades
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(root): upgrade `pnpm` version to 10.2.1
  package.json
Due: prettier --list-different --write

chore(root): update dependencies (including major upgrades) and `pnpm` (#194)
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix(deps): update @portabletext/toolkit v2.0.17
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write
