Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx}": ["pnpm lint"],
  "*.json": "prettier --list-different --write"
}

test: harden dom assertions using strict traversal
  lab/src/test/block.test.ts
  lab/src/test/extras.test.ts
  lab/src/test/issue.test.ts
  lab/src/test/list.test.ts
  lab/src/test/mark.test.ts
  lab/src/test/render.test.ts
  lab/src/test/slot.test.ts
  lab/src/test/text.test.ts
  lab/src/test/type.test.ts
Due: pnpm lint

ci(docs): remove pnpm recursive flag to fix CI failure
  .github/workflows/docs.yml
Due: none

docs: refine README layout and add migration instructions
  README.md
Due: none

docs: standardize examples and documentation files
  README.md
  docs/README.md
  docs/getting-started.md
  docs/portabletext-component.md
  docs/utility-functions.md
  examples/BlockWithRenderFunction.astro
  examples/Mark.astro
  examples/PortableTextBasic.astro
  examples/PortableTextMappedType.astro
  examples/PortableTextMappedTypeProperty.astro
  examples/PortableTextSlots.astro
  examples/README.md
  examples/Text.astro
  examples/Type.astro
Due: none

docs: update generated types documentation
  docs/types/README.md
  docs/types/interfaces/Block.md
  docs/types/interfaces/Context.md
  docs/types/interfaces/Mark.md
  docs/types/interfaces/PortableTextComponents.md
  docs/types/interfaces/PortableTextProps.md
  docs/types/interfaces/Props.md
  docs/types/interfaces/TypedObject.md
  docs/types/type-aliases/BlockProps.md
  docs/types/type-aliases/Component.md
  docs/types/type-aliases/ComponentOrRecord.md
  docs/types/type-aliases/List.md
  docs/types/type-aliases/ListItem.md
  docs/types/type-aliases/ListItemProps.md
  docs/types/type-aliases/ListProps.md
  docs/types/type-aliases/MarkProps.md
  docs/types/type-aliases/MissingComponentHandler.md
  docs/types/type-aliases/NodeType.md
  docs/types/type-aliases/RenderHandler.md
  docs/types/type-aliases/RenderHandlerProps.md
  docs/types/type-aliases/RenderOptions.md
  docs/types/type-aliases/SomePortableTextComponents.md
  docs/types/type-aliases/TextNode.md
  docs/types/type-aliases/TextNodeProps.md
  typedoc.json
Due: prettier --list-different --write

docs: refine documentation, standardize examples, fix workflow (#227)
  .github/workflows/docs.yml
  README.md
  docs/README.md
  docs/getting-started.md
  docs/portabletext-component.md
  docs/types/README.md
  docs/types/interfaces/Block.md
  docs/types/interfaces/Context.md
  docs/types/interfaces/Mark.md
  docs/types/interfaces/PortableTextComponents.md
  docs/types/interfaces/PortableTextProps.md
  docs/types/interfaces/Props.md
  docs/types/interfaces/TypedObject.md
  docs/types/type-aliases/BlockProps.md
  docs/types/type-aliases/Component.md
  docs/types/type-aliases/ComponentOrRecord.md
  docs/types/type-aliases/List.md
  docs/types/type-aliases/ListItem.md
  docs/types/type-aliases/ListItemProps.md
  docs/types/type-aliases/ListProps.md
  docs/types/type-aliases/MarkProps.md
  docs/types/type-aliases/MissingComponentHandler.md
  docs/types/type-aliases/NodeType.md
  docs/types/type-aliases/RenderHandler.md
  docs/types/type-aliases/RenderHandlerProps.md
  docs/types/type-aliases/RenderOptions.md
  docs/types/type-aliases/SomePortableTextComponents.md
  docs/types/type-aliases/TextNode.md
  docs/types/type-aliases/TextNodeProps.md
  docs/utility-functions.md
  examples/BlockWithRenderFunction.astro
  examples/Mark.astro
  examples/PortableTextBasic.astro
  examples/PortableTextMappedType.astro
  examples/PortableTextMappedTypeProperty.astro
  examples/PortableTextSlots.astro
  examples/README.md
  examples/Text.astro
  examples/Type.astro
  typedoc.json
Due: prettier --list-different --write

chore(demo): update dependencies and package metadata
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(demo): reset package version to 0.0.0
  demo/package.json
Due: prettier --list-different --write

chore(demo): update dependencies and package metadata (#228)
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(commitlint): apply stricter guardrails to commit messages
  .commitlintrc
Due: none

chore(license): update copyright year format to 2022-present
  LICENSE
  astro-portabletext/LICENSE
Due: none

chore(root): align pnpm version and streamline root scripts
  .devcontainer/devcontainer.json
  .npmrc
  package.json
Due: prettier --list-different --write

ci: refine job names in workflows
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
Due: none

ci(npm): add explicit provenance flag to publish
  .github/workflows/npm.yml
Due: none

build(demo): harden typescript environment and dependencies
  demo/CHANGELOG.md
  demo/env.d.ts
  demo/package.json
  demo/src/astro.d.ts
  demo/src/components/counter/Counter.astro
  demo/src/env.d.ts
  demo/tsconfig.json
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

ci: enforce --frozen-lockfile flag in workflows
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/npm.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

ci(test): enforce read-only permissions
  .github/workflows/test.yml
Due: none

build(astro-portabletext): harden typescript config and CI checks
  astro-portabletext/.gitignore
  astro-portabletext/env.d.ts
  astro-portabletext/lib/astro.d.ts
  astro-portabletext/package.json
  astro-portabletext/tsconfig.json
Due: pnpm lint, prettier --list-different --write

feat(deps)!: align Node.js version and update dependencies
  astro-portabletext/package.json
  lab/fixtures/src/pages/issues/toolkit-100.astro
  lab/tests/integration/issue.test.ts
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

chore(lab): standardize vitest imports and README
  lab/README.md
  lab/tests/integration/block.test.ts
  lab/tests/integration/extras.test.ts
  lab/tests/integration/list.test.ts
  lab/tests/integration/mark.test.ts
  lab/tests/integration/render.test.ts
  lab/tests/integration/slot.test.ts
  lab/tests/integration/text.test.ts
  lab/tests/integration/type.test.ts
  lab/tests/unit/internal.test.ts
  lab/tests/unit/utils.test.ts
  lab/tests/unit/warnings.test.ts
Due: pnpm lint

refactor(components): use named Props aliases
  astro-portabletext/components/Block.astro
  astro-portabletext/components/HardBreak.astro
  astro-portabletext/components/List.astro
  astro-portabletext/components/ListItem.astro
  astro-portabletext/components/Mark.astro
  astro-portabletext/components/Text.astro
  astro-portabletext/components/UnknownBlock.astro
  astro-portabletext/components/UnknownList.astro
  astro-portabletext/components/UnknownListItem.astro
  astro-portabletext/components/UnknownMark.astro
  astro-portabletext/components/UnknownType.astro
Due: none

refactor(api)!: remove utils export from package.json
  astro-portabletext/lib/utils.d.ts
  astro-portabletext/package.json
  demo/src/components/portabletext/Type.astro
  docs/utility-functions.md
Due: pnpm lint, prettier --list-different --write

refactor(lib): enforce explicit return types and refine TSDoc
  astro-portabletext/components/PortableText.astro
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/internal.ts
  astro-portabletext/lib/types.ts
  astro-portabletext/lib/utils.ts
Due: pnpm lint

feat(types): introduce TypedObjectProps alias
  astro-portabletext/lib/types.ts
Due: pnpm lint

docs(astro-portabletext): refine README
  astro-portabletext/README.md
Due: none

docs(root): standardize README
  README.md
Due: none

docs(api): regenerate API documentation
  docs/types/README.md
  docs/types/interfaces/Block.md
  docs/types/interfaces/Context.md
  docs/types/interfaces/Mark.md
  docs/types/interfaces/PortableTextComponents.md
  docs/types/interfaces/PortableTextProps.md
  docs/types/interfaces/Props.md
  docs/types/type-aliases/BlockProps.md
  docs/types/type-aliases/Component.md
  docs/types/type-aliases/ComponentOrRecord.md
  docs/types/type-aliases/List.md
  docs/types/type-aliases/ListItem.md
  docs/types/type-aliases/ListItemProps.md
  docs/types/type-aliases/ListProps.md
  docs/types/type-aliases/MarkProps.md
  docs/types/type-aliases/MissingComponentHandler.md
  docs/types/type-aliases/NodeType.md
  docs/types/type-aliases/RenderHandler.md
  docs/types/type-aliases/RenderHandlerProps.md
  docs/types/type-aliases/RenderOptions.md
  docs/types/type-aliases/TextNode.md
  docs/types/type-aliases/TextNodeProps.md
  docs/types/type-aliases/TypedObjectProps.md
Due: none

docs(demo): update copy and align README with standards
  demo/README.md
Due: none

docs(examples): standardize examples and README
  examples/Block.astro
  examples/BlockWithRenderFunction.astro
  examples/Mark.astro
  examples/README.md
  examples/Type.astro
Due: none

chore(docs): format API docs during generation
  package.json
Due: prettier --list-different --write

docs(guide): refine documentation content
  docs/README.md
  docs/getting-started.md
  docs/portabletext-component.md
  docs/utility-functions.md
Due: none

refactor(demo): adopt usePortableText and named prop aliases
  demo/src/components/ListItemStyleStar.astro
  demo/src/components/ListStyleStar.astro
  demo/src/components/portabletext/Block.astro
  demo/src/components/portabletext/List.astro
  demo/src/components/portabletext/ListItem.astro
  demo/src/components/portabletext/Mark.astro
  demo/src/pages/index.astro
Due: none

ci(release): upgrade googleapis/release-please-action to v5
  .github/workflows/release.yml
Due: none

ci(release): pass PAT to release-please action
  .github/workflows/release.yml
Due: none

ci(release): upgrade release-please action and authorize downstream workflows (#231)
  .github/workflows/release.yml
Due: none

chore: release main
  .release-please-manifest.json
  astro-portabletext/CHANGELOG.md
  astro-portabletext/package.json
Due: prettier --list-different --write

chore(deps): upgrade astro-portabletext to 1.0.0
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write
