Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

fix(package.json): fix `exports` field
  .changeset/perfect-camels-carry.md
  astro-portabletext/package.json
Due: prettier --list-different --write

Revert "refactor(demo): merge `.d.ts` files"
  demo/src/astro.d.ts
  demo/src/env.d.ts
Due: pnpm lint

chore(changesets): use terse wording
  .changeset/perfect-camels-carry.md
  astro-portabletext/CHANGELOG.md
Due: none

chore(packge.json): remove git+ from `repository.url`
  astro-portabletext/package.json
  package.json
Due: prettier --list-different --write

chore(comments): apply and correct
  astro-portabletext/components/PortableText.astro
  astro-portabletext/lib/types.ts
Due: pnpm lint

refactor(types)!: remove default from `Props` type
  .changeset/eighty-mirrors-drive.md
  astro-portabletext/components/UnknownType.astro
  astro-portabletext/lib/types.ts
Due: pnpm lint

chore(merge): release (next) (#32)
  .changeset/eighty-mirrors-drive.md
  .changeset/perfect-camels-carry.md
  .changeset/pre.json
  .changeset/thin-eagles-study.md
  astro-portabletext/.gitignore
  astro-portabletext/CHANGELOG.md
  astro-portabletext/components/PortableText.astro
  astro-portabletext/components/UnknownType.astro
  astro-portabletext/lib/astro.d.ts
  astro-portabletext/lib/components.ts
  astro-portabletext/lib/context.ts
  astro-portabletext/lib/index.ts
  astro-portabletext/lib/internal.ts
  astro-portabletext/lib/types.ts
  astro-portabletext/lib/utils.ts
  astro-portabletext/lib/warnings.ts
  astro-portabletext/package.json
  astro-portabletext/scripts/ci.sh
  astro-portabletext/test/lib/internal.test.ts
  astro-portabletext/test/lib/utils.test.ts
  astro-portabletext/test/lib/warnings.test.ts
  astro-portabletext/tsconfig.json
  demo/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

ci: amend workflow
  .github/workflows/ci.yml
  .github/workflows/format.yml
Due: none

ci: amend workflow (#33)
  .github/workflows/ci.yml
  .github/workflows/format.yml
Due: none

refactor(lib)!: remove `types` export
  .changeset/nine-drinks-walk.md
  astro-portabletext/lib/components.ts
Due: pnpm lint

refactor(lib)!: remove `types` export (#34)
  .changeset/nine-drinks-walk.md
  astro-portabletext/lib/components.ts
Due: pnpm lint

chore: move `.npmrc` to root directory
  .npmrc
Due: none

chore: amend `.npmrc`
  .npmrc
Due: none

chore/npmrc (#36)
  .npmrc
  demo/.npmrc
Due: none

chore(demo): update dependencies
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(demo): remove `pnpm.peerDependencyRules`
  demo/package.json
Due: prettier --list-different --write

chore(demo): allow versioning and set last version
  .changeset/config.json
  demo/package.json
Due: prettier --list-different --write

chore/demo (#37)
  .changeset/config.json
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(release): exit pre-release mode
  .changeset/pre.json
Due: prettier --list-different --write

chore(release): exit pre-release mode (#38)
  .changeset/pre.json
Due: prettier --list-different --write

chore(package.json): add `author` details
  .changeset/wicked-carrots-carry.md
  astro-portabletext/package.json
Due: prettier --list-different --write

chore(package.json): add `author` details
  demo/package.json
  package.json
Due: prettier --list-different --write

chore(package.json): add `author`
  .changeset/cool-ducks-nail.md
  astro-portabletext/package.json
  demo/package.json
  package.json
Due: prettier --list-different --write

chore(docs): update `docs`
  astro-portabletext/README.md
  astro-portabletext/docs/extending-components.md
  astro-portabletext/docs/types.md
Due: none

chore(deps): update dependencies
  demo/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

docs(readme): add `CodeSandbox` link
  README.md
Due: none

patch (#40)
  .changeset/cool-ducks-nail.md
  README.md
  astro-portabletext/README.md
  astro-portabletext/docs/extending-components.md
  astro-portabletext/docs/types.md
  astro-portabletext/package.json
  demo/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

chore(package.json): add `author` (#42)
  .changeset/wicked-carrots-carry.md
  astro-portabletext/package.json
  demo/package.json
Due: prettier --list-different --write

chore(release-please): add config file
  release-please-config.json
Due: prettier --list-different --write

chore(release-please): add manifest file
  .release-please-manifest.json
Due: prettier --list-different --write

chore(changeset): remove directory
  .changeset/config.json
Due: prettier --list-different --write

ci(format): rename workflow
  .github/workflows/format.yml
Due: none

ci(format): trigger on `workflow_dispatch` and `push`
  .github/workflows/format.yml
Due: none

ci(format): concurrency
  .github/workflows/format.yml
Due: none

ci(format): permissions
  .github/workflows/format.yml
Due: none

ci(format): actions/checkout
  .github/workflows/format.yml
Due: none

ci(format): pnpm/action-setup
  .github/workflows/format.yml
Due: none

ci(format): stefanzweifel/git-auto-commit-action
  .github/workflows/format.yml
Due: none

ci: add `test.yml` workflow
  .github/workflows/test.yml
Due: none

Path conditions:
  pnpm lint: any of: *.{js,jsx,mjs,ts,tsx}
  prettier --list-different --write: any of: *.json
