Repository theisel/astro-portabletext: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint, prettier --list-different --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx}": ["pnpm lint"],
  "*.json": "prettier --list-different --write"
}

fix(deps): update `astro-portabletext` dependencies (#131)
  astro-portabletext/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix: add LICENSE
  astro-portabletext/LICENSE
Due: none

fix: add LICENSE (#133)
  astro-portabletext/LICENSE
Due: none

Revert "chore: batch release main (#132)"
  .release-please-manifest.json
  astro-portabletext/CHANGELOG.md
  astro-portabletext/package.json
  demo/CHANGELOG.md
  demo/package.json
Due: prettier --list-different --write

chore: fix lockfile
  pnpm-lock.yaml
Due: none

ci: upgrade `actions/checkout` to v4
  .github/workflows/format.yml
  .github/workflows/npm.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: upgrade `pnpm/action-setup` to v3
  .github/workflows/format.yml
  .github/workflows/npm.yml
  .github/workflows/test.yml
Due: none

ci: upgrade `actions/setup-node` to v4
  .github/workflows/format.yml
  .github/workflows/npm.yml
  .github/workflows/test.yml
Due: none

ci: upgrade `stefanzweifel/git-auto-commit-action` to v5
  .github/workflows/format.yml
Due: none

ci: upgrade `google-github-actions/release-please-action` to v4
  .github/workflows/release.yml
Due: none

ci: use Node v20
  .github/workflows/format.yml
  .github/workflows/npm.yml
Due: none

ci: fix actions (#135)
  .github/workflows/format.yml
  .github/workflows/npm.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: fix release-please-config
  release-please-config.json
Due: prettier --list-different --write

ci: fix `release-please` config
  release-please-config.json
Due: prettier --list-different --write

ci: fix `release-please` action
  .github/workflows/release.yml
  release-please-config.json
Due: prettier --list-different --write

fix: block index
  astro-portabletext/components/PortableText.astro
  lab/src/components/BlockIndex.astro
  lab/src/pages/block/block-index.astro
  lab/src/test/block.test.js
Due: pnpm lint

test: add nested list
  lab/src/pages/list/nested.astro
  lab/src/test/list.test.js
Due: pnpm lint

test: add nested list (#139)
  lab/src/pages/list/nested.astro
  lab/src/test/list.test.js
Due: pnpm lint

fix: block index (#138)
  astro-portabletext/components/PortableText.astro
  lab/src/components/BlockIndex.astro
  lab/src/pages/block/block-index.astro
  lab/src/test/block.test.js
Due: pnpm lint

fix(types): fix docblock comments
  astro-portabletext/lib/types.ts
Due: pnpm lint

refactor(component)!: drop `class` prop from `PortableText`
  astro-portabletext/components/PortableText.astro
  astro-portabletext/docs/types.md
  astro-portabletext/lib/types.ts
Due: pnpm lint

fix(types): fix docblock comments (#141)
  astro-portabletext/lib/types.ts
Due: pnpm lint

fix(component): fix `ListStyleStar` style
  demo/src/components/ListStyleStar.astro
Due: none

fix(deps): update `demo` dependencies
  demo/package.json
  pnpm-lock.yaml
Due: prettier --list-different --write

fix: move styles to Mark component
  demo/src/components/portabletext/Mark.astro
  demo/src/pages/index.astro
Due: none

fix(component): fix `PortableText`
  demo/src/components/portabletext/PortableText.astro
Due: none

fix: import type
  demo/src/components/portabletext/List.astro
Due: none

fix(component): simplify `FancyBorder`
  demo/src/components/FancyBorder.astro
Due: none

fix(component): fix page title colour
  demo/src/layouts/Default.astro
Due: none

fix: move block element styles to Block component
  demo/src/components/portabletext/Block.astro
  demo/src/layouts/Default.astro
Due: none

fix(component): remove attribute from `ListItemStyleStar`
  demo/src/components/ListItemStyleStar.astro
Due: none

refactor(component)!: drop `class` prop from `PortableText` (#143)
  astro-portabletext/components/PortableText.astro
  astro-portabletext/docs/types.md
  astro-portabletext/lib/types.ts
Due: pnpm lint

fix(stackblitz): fix `startCommand`
  demo/.stackblitzrc
Due: none

feat(component): add `Counter` to handle render components
  demo/src/components/counter/Counter.astro
  demo/src/components/counter/JsxCounter.astro
  demo/src/components/counter/SvelteCounter.astro
  demo/src/components/counter/index.ts
  demo/src/components/portabletext/Type.astro
Due: pnpm lint

fix(codesandbox): use Node v20
  demo/.codesandbox/Dockerfile
Due: none

feat(codesandbox): migrate to use dev container
  demo/.devcontainer/devcontainer.json
Due: prettier --list-different --write

feat(data): add `link` mark definition
  demo/src/data/portabletext.json
Due: prettier --list-different --write

feat: add component, add mark definition to portabletext, including fixes and refactoring (#144)
  demo/.codesandbox/Dockerfile
  demo/.devcontainer/devcontainer.json
  demo/.stackblitzrc
  demo/package.json
  demo/src/components/FancyBorder.astro
  demo/src/components/ListItemStyleStar.astro
  demo/src/components/ListStyleStar.astro
  demo/src/components/counter/Counter.astro
  demo/src/components/counter/JsxCounter.astro
  demo/src/components/counter/SvelteCounter.astro
  demo/src/components/counter/index.ts
  demo/src/components/portabletext/Block.astro
  demo/src/components/portabletext/List.astro
  demo/src/components/portabletext/Mark.astro
  demo/src/components/portabletext/PortableText.astro
  demo/src/components/portabletext/Type.astro
  demo/src/data/portabletext.json
  demo/src/layouts/Default.astro
  demo/src/pages/index.astro
  pnpm-lock.yaml
Due: pnpm lint, prettier --list-different --write

docs: fix links and update
  astro-portabletext/README.md
  astro-portabletext/docs/README.md
  astro-portabletext/docs/extending-components.md
  astro-portabletext/docs/hydration.md
  astro-portabletext/docs/merge-override-components.md
  astro-portabletext/docs/sanity.md
  astro-portabletext/docs/types.md
  astro-portabletext/docs/utils.md
Due: none
